body{
    background-color: white;
    color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    font-weight: 100;
    line-height: 1.6em;
    margin: 0;
}
/* Global*/
a{
    text-decoration: none;
    color: brown;
}
a:hover{
    color: black;
}
a:active{
    color: red;
}
.container{
    width: 80%;
    margin: auto;
}
.button{
    background: #a52a2a;
    color: #fff;
    padding: 10px 15px;
    border: none;
}
.button:hover{
    background: #333;
    color: #fff;
}
.clr{
    clear: both;
}
.box_1{
    background: #a52a2a;
    color: #fff;
    border-width: 3px;
    border-bottom-width: 15px;
    border: 5px #333;
    padding: 10px;
    margin: 5px;
}
.box_1 h1{
    font-family: tahoma;
    font-size: 30px;
    font-style: oblique;
    text-decoration: underline;
    text-transform: uppercase;
    text-decoration-color: white;
    letter-spacing: 0.2em;
    word-spacing: 0.2em;
}
.box_2{
    margin: 5px;
    border: 2px brown solid;
    border-radius: 15px;
    padding: 10px;
}
.Categories{
    border: 2px brown solid;
    padding: 10px;
    border-radius: 15px;
    margin: 5px;
}
.Categories h2{
    text-align: center;
}
.Categories ul{
    padding: 0;
    list-style: none;
}
.Categories li{
    padding-bottom: 5px;
    border-bottom: #333 1px solid;
}
.my-form{
    padding: 20px;
    margin: 5px;
    border: 2px #a52a2a solid;
    border-radius: 15px;
}
.my-form .form-group{
    padding-bottom: 15px;
}
.my-form label{
    display: block;
}
.my-form input[type="text"], .my-form textarea{
    padding: 8px;
    width: 100%;
}
.block{
    float: left;
    width: 32.4%;
    margin: 5px;
    border: 1px #a52a2a solid;
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;   
}
#main-block{
    float: left;
    width: 60%;
    padding: 15px;
    box-sizing: border-box;
}
#sidebar{
    float: right;
    width: 30%;
    background: #a52a2a;
    color: #fff;
    border: 1px #333 solid;
    box-sizing: border-box;
    padding: 15px;
    margin: 5px;
}
.p-box{
    width: 800px;
    height: 500px;
    border: #a52a2a 1px solid;
    margin-top: 20px;
}